:root {
  /* Light color scheme. */
  --color: black;
  --grid-border: #111;
  --menu: #fff;
  --menu-element: #f0f0f0;
  --menu-hover: #c8c8c8;
  --menu-el-content: #f0f0f0;
  --menu-el-content-hover: #c8c8c8;
  --code: #fff;
  --code-color: black;
  --project-tree: #fff;
  --program-element: #fff;
  --tabs: #fff;
  --tab-link: #f0f0f0;
  --tab-border: #111;

  /* Dark color scheme.
  --color: white;
  --grid-border: #999;
  --menu: #111;
  --menu-element: #656565;
  --menu-hover: #3c3c3c;
  --menu-el-content: #656565;
  --menu-el-content-hover: #3c3c3c;
  --code: #111;
  --code-color: white;
  --project-tree: #111;
  --program-element: #111;
  --tabs: #111;
  --tab-link: #656565;
  --tab-border: #fff;
  */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--color);
}

.container {
  display: grid;
  grid-template-rows: 20px auto;
  width: 100vw;
  height: 100vh;
}

.menu {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 1rem;
  justify-content: start;
  background-color: var(--menu);
  border-bottom: 1px solid var(--grid-border);
}

.menu-element {
  background-color: var(--menu-element);
  cursor: pointer;
}

.menu-el-content {
  background-color: var(--menu-el-content);
  display: none;
  position: absolute;
  z-index: 1;
}

.menu-el-content a {
  text-decoration: none;
  display: block;
  text-align: left;
}

.menu-el-content a:hover {
  background-color: var(--menu-el-content-hover);
}

.menu-element:hover {
  background-color: var(--menu-hover);
}

.menu-element:hover .menu-el-content {
  display: block;
}

main {
  display: grid;
  grid-template:
    "project code program" calc(80vh - 20px)
    "project tabs tabs" 20vh / auto auto 1fr;
}

.project-tree {
  grid-area: project;
  background-color: var(--project-tree);
  overflow: auto;
  resize: horizontal;

  /* dependant on menu height */
  /*max-height: calc(100vh - 20px);*/
  max-width: 30vw;
  border-right: 1px solid var(--grid-border);
}

.code {
  grid-area: code;
  background-color: var(--code);
  overflow: auto;
  resize: horizontal;

  /* dependant on menu height and tabs height */
  /*max-height: calc(80vh - 20px);*/
  max-width: 70vw;
}

.code textarea {
  resize: none;
  width: 100%;
  height: 100%;
  background-color: var(--code);
  color: var(--code-color);
  font-family: "Courier New", Courier, monospace;
}

.program-element {
  background-color: var(--program-element);
  overflow: auto;
  border-left: 1px solid var(--grid-border);
}

.tabs {
  grid-area: tabs;
  background-color: var(--tabs);
  overflow: auto;
  border-top: 1px solid var(--grid-border);
}

input {
  display: none;
}

input + label {
  display: inline-block;
  background: var(--tab-link);
  padding: 4px 12px;
  border-radius: 4px 4px 0 0;
  position: relative;
  border: 1px solid var(--tab-border);
  top: 1px;
}

input + label:hover {
  cursor: pointer;
}

input ~ .tab {
  display: none;
  border-top: 1px solid var(--tab-border);
  padding: 12px;
}

#output:checked ~ .tab.output,
#errors:checked ~ .tab.errors {
  display: block;
}

input:checked + label {
  background: var(--tabs);
  border-bottom: 1px solid transparent;
}

@media (pointer:coarse) {
  main {
    display: grid;
    grid-template:
      "project code program" calc(80vh - 20px)
      "project tabs tabs" 20vh / 25vw 50vw 25vw;
  }
  .code {
    grid-area: code;
    background-color: var(--code);
    resize: none;
    max-width: 100%
  }
  .program-element {
  }
  .project-tree {
    grid-area: project;
    background-color: var(--project-tree);

    /* dependant on menu height */
    /*max-height: calc(100vh - 20px);*/
    max-width: 100%;
    border-right: 1px solid var(--grid-border);
  }
}

@media screen and (max-width: 800px) {
  main {
    display: grid;
    grid-template:
      "code" calc(80vh - 20px)
      "tabs" 20vh / auto;
  }
  .program-element {
    display: none;
  }
  .project-tree {
    display: none;
  }
  .code {
    grid-area: code;
    background-color: var(--code);
    resize: none;
    max-width: 100%;
  }
}
