{% extends "verifier/base.html" %}

{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'verifier/style.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">

<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>

<script>
$(document).ready(() => {

    csrftoken = Cookies.get('csrftoken');
    opened_file = '';

    $("#add-dir").modalForm({
        formURL: "{% url 'verifier:dirform' %}"
    });

    $("#add-file").modalForm({
        formURL: "{% url 'verifier:fileform' %}"
    });

    editor = CodeMirror.fromTextArea(document.getElementsByTagName('textarea')[0], {
        mode: "clike"
    });

});

function loadFile(n) {
    $(document).on('click', '#file' + n, (e) => {
        e.preventDefault();
        $.ajax({
            type:'POST',
            url:'{% url 'verifier:code' 1234 %}'.replace(/1234/, n.toString()),
            data:
            {
                pk: n,
                csrfmiddlewaretoken: csrftoken
            },
            success: (data) => {
                // $('.ver-code textarea:first').html(data.filecontent);
                // console.log(typeof data.filecontent);
                // console.log(data.filecontent);
                editor.getDoc().setValue(data.filecontent);
                opened_file = n;
            }
        });
    });
}

function runFrama(parameters=['-wp', '-wp-print']) {
    $(document).on('click', '#run-btn', (e) => {
        if (opened_file) {
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'{% url 'verifier:frama' 1234 %}'.replace(/1234/, opened_file.toString()),
                data:
                {
                    pk: opened_file,
                    params: parameters,
                    csrfmiddlewaretoken: csrftoken
                },
                success: (data) => {
                    $('.ver-program-element:first').html(data.result);
                }
            });
        }
    });
}

function deleteDir(n) {
    $(document).on('submit', '#d' + n, (e) => {
        e.preventDefault();
        $.ajax({
            type:'POST',
            url:'{% url 'verifier:delete_dir' 1234 %}'.replace(/1234/, n.toString()),
            data:
            {
                pk: n,
                csrfmiddlewaretoken: csrftoken
            },
            success: () => {
                $("#dir" + n).remove();
            }
        });
    });
}

function deleteFile(n) {
    $(document).on('submit', '#f' + n, (e) => {
        e.preventDefault();
        $.ajax({
            type:'POST',
            url:'{% url 'verifier:delete_file' 1234 %}'.replace(/1234/, n.toString()),
            data:
            {
                pk: n,
                csrfmiddlewaretoken: csrftoken
            },
            success: () => {
                $("#li" + n).remove();
            }
        });
    });
}
</script>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item dropdown">
      <button ="dropdown-toggle" data-toggle="dropdown">
        Project
      </button>
      <div class="dropdown-menu">
        <button class="dropdown-item" id="add-dir">Add directory</button>
        <button class="dropdown-item" id="add-file">Add file</button>
      </div>
    </li>
    <li class="nav-item">
      <button id="run-btn">Run</button>
      <script>
        $(document).ready(() => {runFrama();});
      </script>
    </li>
    <li class="nav-item dropdown">
      <button class="dropdown-toggle" data-toggle="dropdown">Help</button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="https://frama-c.com">About Frama-C</a>
      </div>
    </li>
    <li class="nav-item">
        <button onclick="location.href='/verifier/logout'">Log out</button>
    </li>
  </ul>
</nav>

  <main>
    <div class="ver-project-tree">
    <ul>
    {% if directories %}
    {% for dir in directories %}
      {% include 'verifier/tree_dir_template.html' %}
    {% endfor %}
    {% endif %}
    </ul>
    </div>

    <div class="ver-code">
      <textarea spellcheck="false" autofocus>
      #include &quot;stdio.h&quot;
int main() {
    printf(&quot;Hello World!\n&quot;);
      </textarea>
    </div>

    <div class="ver-program-element"></div>

    <div class="ver-tabs">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#provers">Provers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#vcs">VCs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#result">Result</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div id="provers" class="container tab-pane active"><br>
            <form action="" method="post" id="prover-form">{% csrf_token %}
              <p>Please select the prover:</p>
              <input type="radio" id="alt-ergo" name="prover" value="alt-ergo">
              <label for="alt-ergo">Alt-Ergo</label><br>
              <input type="radio" id="z3" name="prover" value="z3">
              <label for="z3">Z3</label><br>
              <input type="radio" id="cvc4" name="prover" value="cvc4">
              <label for="cvc4">CVC4</label>
              <input type="submit" value="Prove">
              <script>
                /* $(document).ready(() => {runFrama();}); */
              </script>
            </form>


      <form action="" method="post" id="f{{ file.pk }}">
        {% csrf_token %}
      </form>
      <label for="f{{ file.pk }}">
        <div class="file" id="file{{ file.pk }}">{{ file.name }}</div>
      </label>
      <input type="submit" value="del" class="btn-sm" form="f{{ file.pk }}">
      <script>
      $(document).ready(() => {
        loadFile({{ file.pk }});
        deleteFile({{ file.pk }});
      });
      </script>


        </div>
        <div id="vcs" class="container tab-pane fade"><br>
        </div>
        <div id="result" class="container tab-pane fade"><br>
        </div>
      </div>

    </div>
  </main>

</div>
{% endblock content %}
