{% extends "filesystem/base.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'filesystem/styles.css' %}">
{% endblock %}

{% block content %}

<body class="{{ theme }}">
<div class="container">
  <div class="menu">
    <div class="menu-element">Project
      <div class="menu-el-content">
        <a href="{% url 'filesystem:add_dir' %}">Add directory</a>
        <a href="{% url 'filesystem:add_file' %}">Add file</a>
      </div>
    </div>
    <div class="menu-element">View
      <div class="menu-el-content">
        <a href="#">Syntax highlight</a>
      </div>
    </div>
    <div class="menu-element">Run
      <div class="menu-el-content">
        <a href="#">Verify</a>
        <a href="#">Compile</a>
        <a href="#">Run</a>
        <a href="#">Compile and run</a>
      </div>
    </div>
    <div class="menu-element">Help
      <div class="menu-el-content">
        <a href="#">Contact support</a>
      </div>
    </div>
  </div>

  <main>
    <div class="project-tree">
    {% if directories %}
    {% for dir in directories %}
      <div class="directory">{{ dir.name }}
      {% for file in dir.file_set.all %}
        <div class="file">
        <a href="{% url 'filesystem:detail' file.pk %}">{{ file.name }}</a>
        </div>
      {% endfor %}
      </div>
    {% endfor %}
    {% endif %}
    </div>

    <div class="code">
      <textarea placeholder="#include &quot;stdio.h&quot;
    int main() {
    printf(&quot;Hello World!\n&quot;);
    }" spellcheck="false" autofocus>
        {% for line in contents %}{{ line }}{% endfor %}
      </textarea>
    </div>

    <div class="program-element">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

    <div class="tabs">
      <input type="radio" name="tabs" id="output" checked>
      <label for="output">Output</label>
      <input type="radio" name="tabs" id="errors">
      <label for="errors">Errors</label>
      <div class="tab output">Example Output</div>
      <div class="tab errors">Example Errors</div>
    </div>
  </main>
</div>
</body>

{% endblock content %}
